/*
font-family: 'Alice', serif;
font-family: 'Montserrat', sans-serif;
*/

.site-title {
	font-family: 'Alice', serif;
}

.subtitle-font {
	font-family: 'Montserrat', sans-serif;

}

.aside-font {
	font-family: 'Alice', serif;
}

img {
    box-shadow: 5px 5px 12px grey;
}

aside {
	background-color: #5bc6cc;
}

#btns {
	background-color: #fc9384;
}

a {
	color: #57C3C9;
}

a:hover {
	color: #82B58C;
}

p {
	font-family: 'Montserrat', sans-serif;
}



